.circel{
    padding-block: 100px;
    background-color: #b5838d;
}

.circel__title{
    font-size: 30px;
    color: white;
    width: max-content;
    border-bottom: 3px solid #ffc300;
    text-transform: uppercase;
    margin-block-end: 20px;
}
.box{
    max-width: 500px;
    margin-block-end: 20px;
}